* {
  font-family: sans-serif;
  /* margin: 0;
  padding: 0; */
}

.main{
  display: grid;
  /* grid-template-columns:auto 1fr 1fr 1fr;
  grid-template-rows:auto 1fr 1fr 1fr; */
}

body {
  background-color: black;
}

.h1 {
  color: white;
  text-align: center;
  text-transform: capitalize;
}

/* .barchart_country {
  height: 50vh;
  width: 50vw;
  margin-left: 50vw;
} */